[tool.poetry]
name = "repo-gpt"
version = "0.1.0"
description = "Search your code repository using GPT3.5 or GPT4."
authors = ["Shruti Patel <shruti222patel@gmail.com>"]
license = "Apache License 2.0"
readme = "README.md"
packages = [{include = "repo_gpt", from = "src"}]

[tool.poetry.dependencies]
python = ">=3.8,<3.12"
pandas = "^2.0.2"
numpy = "^1.24.3"
halo = "^0.0.31"
tqdm = "^4.65.0"
pathspec = "^0.11.1"
openai = "^0.27.8"
rich = "^13.4.1"
redbaron = "^0.9.2"
tenacity = "^8.2.2"

[tool.poetry.group.dev.dependencies]
pytest = "^7.3.2"
pre-commit = "^3.3.2"
exceptiongroup = { version="^1.1.1", markers="python_version <= '3.10'" }

[tool.poetry.scripts]
repo-gpt = "repo_gpt.cli:main"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
python_paths = ["src"]
