name: PR Checks

on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pre-commit-and-tests:
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11" ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Clean Poetry install cache
        run: rm -rf ~/.cache/pypoetry ~/.local/share/pypoetry

      - name: Install Graphviz system dependencies
        run: sudo apt-get update && sudo apt-get install -y graphviz graphviz-dev

      - name: Install and configure Poetry
        uses: snok/install-poetry@v1
        with:
          version: 2.1.1

      - name: Install dependencies
        run: poetry install

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.0

      - name: Run tests
        run: poetry run pytest test
        env:
          OPENAI_API_KEY: ""
